<template>
    <ul class="pagination" id="table-pagination">
        <li class="{{isOnFirstPage ? disabledClass : ''}}">
            <a @click="loadPage(1)"><i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left go-to-first"></i></a>
        </li>
        <li class="{{isOnFirstPage ? disabledClass : ''}}">
            <a @click="loadPage('prev')"><i class="glyphicon glyphicon-chevron-left"></i></a>
        </li>
        <template v-for="n in totalPage" v-if="Math.abs(n - currentPage) < 3">
            <li class="{{isCurrentPage(n+1) ? ' active' : ''}}">
                <a @click="loadPage(n+1)"> {{ n+1 }}</a>
            </li>
        </template>
        <li class="{{isOnLastPage ? disabledClass : ''}}">
            <a @click="loadPage('next')"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </li>
        <li class="{{isOnLastPage ? disabledClass : ''}}">
            <a @click="loadPage(tablePagination.last_page)"><i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right go-to-last"></i></a>
        </li>
    </ul>
</template>

<style>
  .pagination {
    margin:0;
  }
  .pagination>li>a {
    cursor: pointer;
  }
  .go-to-first {
    margin-left: -5px;
  }
  .go-to-last {
    margin-left: -5px;
  }
</style>

<script>
import PaginationMixin from './VuetablePaginationMixin.vue'

export default {
    // template: 'vuetable-pagination',
    // porps: function () {
    //     return { 
    //         currentPage: 0            
    //     }
    // },
    mixins: [PaginationMixin],
    methods: {
        loadPage: function(page) {
            this.$dispatch('vuetable-pagination:change-page', page)  
        }
    },
}
</script>
